<section>
    <h2>Join as participant</h2>
    <form action="/enterroom" method="POST">
        <label class="sr-only" for="room-id">Code Room</label>
        <input type="number" name="roomId" id="room-id" placeholder="Code Room">
        <button>
            <img src="images/enter-room.svg" alt="Join Room">
            Join Room
        </button>
    </form>
</section>
<div class="separator">
    <div></div>
    <div>or</div>
    <div></div>
</div>
<section>
    <h2>Create your own room easily</h2>
    <a href="/create" class="button outlined">
        <img src="images/users.svg" alt="Create Room">
        Create Room
    </a>
</section>